.drum-pad {
  font-family: "Calculator";
  font-size: 3rem;
  margin: 5px;
  width: 5.65rem;
  height: 4.5rem;
  color: #ffffff;
  font-weight: 600;
  padding: auto;
  background: linear-gradient(to bottom, #5e278f 5%, #7654af 100%);
  box-shadow: 2px 2px 1px 1px #ea5573;
  border-radius: 1px;
  border: 1px solid #111;
}

.drum-pad:hover {
  background: linear-gradient(to bottom, #ea5573 5%, #5e278f 95%);
  border: 1px solid #111;
  box-shadow: 2px 2px 1px 1px #ea5573;
}

.drum-pad:active {
  background: linear-gradient(to bottom, #5e278f 5%, #ea5573 95%);
  position: relative;
  top: 2px;
  border: 1px solid #111;
  box-shadow: 2px 2px 1px 1px #5e278f;
}

.drum-pad:focus {
  outline: 0;
}
