.drum-pad {
  font-family: "Calculator";
  font-size: 3rem;
  margin: 5px;
  width: 5.65rem;
  height: 4.5rem;
  color: #ffffff;
  font-weight: 300;
  padding: auto;
  border-radius: 1px;
  border: 1px solid #111;
  cursor: pointer;
}

.drum-pad:active {
  position: relative;
  top: 2px;
  left: 1px;
}

.drum-pad:focus {
  outline: 0;
}
