#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(122, 111, 122);
}

#drum-machine {
  border: 10px solid black;
  background-color: black;
  margin: auto;
  width: 20rem;
  align-items: center;
  justify-content: space-evenly;
}

#display {
  text-align: center;
  margin: auto;
  background-color: black;
  font-family: "Calculator";
  color: white;
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 3px;
  width: 20rem;
  height: auto;
}

#switches {
  font-family: "Calculator";
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: justify;
  color: white;
  background: black;
}
