#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#display {
  background-color: black;
  font-family: "Calculator";
  color: white;
  font-size: 18px;
  font-weight: 500;
}
