body {
  margin: 0;
  font-family: "Calculator", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Calculator", Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "Calculator";
  src: local("Calculator"), url(./fonts/Calculator.ttf) format("truetype");
}
